﻿<!DOCTYPE html>
<html>
<head>
    <title>Tungstênio</title>
    <meta charset="utf-8"/>
    <link href="~/css/botchat.css" rel="stylesheet" />
    <link href="~/css/botchat-fullwindow.css" rel="stylesheet" />
    <meta name="WebPartPageExpansion" content="full" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#054f28" />

    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

	<link rel="stylesheet" href="~/landing/css/animate.css">
	<link rel="stylesheet" href="~/landing/css/icomoon.css">
	<link rel="stylesheet" href="~/landing/css/bootstrap.css">
	<link rel="stylesheet" href="~/landing/css/magnific-popup.css">
	<link rel="stylesheet" href="~/landing/css/flexslider.css">
	<link rel="stylesheet" href="~/landing/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/landing/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/landing/fonts/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="~/landing/css/style.css">
	<script src="~/landing/js/modernizr-2.6.2.min.js"></script>

    <style>
        #navCollapse ul li :hover{
            background-color: rgba(85, 85, 85, 0.658);
        }
    </style>


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
            </div>
            <div class="navbar-collapse collapse" id="navCollapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Chatbot">Chatbot</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre o Sistema</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    
    <script src="~/js/botchat.js"></script>
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/md5.js"></script>
    <script src="~/js/js.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
    var userid = Cookies.get('userid');

    if (userid == undefined) {
        userid = hex_md5(Math.floor((Math.random() * 1000) + 1).toString + Date.now().toString());
        Cookies.set('userid', userid, { expires: 90 });
    }
    const params = BotChat.queryParams(location.search);

    const user = {
        id: params['userid'] || userid,
        name: params['username'] || 'username'
    };

    const bot = {
        id: params['botid'] || 'botid',
        name: params['botname'] || 'botname'
        };

    const botConnection = new BotChat.DirectLine({
        secret: '_JmCaE1SewE.cwA.M8g.AcCae1v5n_QE_bhgqnW36oowjeaHv25WFSLw6KhMi_A',
        token: null,
        domain: null,
        webSocket: 'true'
    });

    const configInfos = {
        locate: 'pt-br'
    };

    window['botchatDebug'] = params['debug'] && params['debug'] === 'true';

    BotChat.App({
        botConnection: botConnection,
        locale: configInfos['locale'],
        resize: 'window',
        user: user
    }, document.getElementById('BotChatGoesHere'));

    botConnection.postActivity({
        type: 'message',
        text: 'oi',
        from: user
    }).subscribe(function (error) {
        return console.log("Error posting activity: ", error);
    });

    var consoleBar = document.getElementsByClassName("wc-shellinput")[0];

    botConnection.activity$.filter(function (activity) {
        document.getElementById('inicialMessage').style.display = 'none';
    }).subscribe(function (message) {
        console.log("received message ", message);
    });

    document.getElementsByClassName("wc-header")[0].innerHTML = "<img src='https://itpalooza.org/wp-content/uploads/2017/10/robot-icon.png' style='width:auto;height:25px'>";
    </script>

    @RenderSection("Scripts", required: false)

	<script src="~/landing/js/jquery.min.js"></script>
	<script src="~/landing/js/jquery.easing.1.3.js"></script>
	<script src="~/landing/js/jquery.waypoints.min.js"></script>
	<script src="~/landing/js/jquery.stellar.min.js"></script>
	<script src="~/landing/js/jquery.flexslider-min.js"></script>
	<script src="~/landing/js/main.js"></script>
</body>
</html>
