﻿@{
    ViewData["Title"] = "Sobre";
}
<div class="colorlib-loader"></div>
	<div id="page">
		<div class="colorlib-intro" style="background-color:white">
			<div>
				<a style="background:#17a597; border-color:#17a597; position:relative; float:right; margin-top:-30px" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Chatbot">Ir para Chatbot</a>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="intro">
							<h1 style="color: #000000">O que raios é um chatbot e como funciona?</h1>
							<p style="font-size:115%">Possivelmente você está se perguntando o que é um chatbot e como funciona. Chatbots são sistemas de atendimento
								que simulam a conversação humana de maneira natural.</p>
						</div>
						<div style="margin-top:40px">
							<p style="font-size:115%">A seguir você pode conhecer o chatbot Tungstênio e ver o que você pode fazer por aqui</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="colorlib-counter" class="colorlib-counters" style="border-radius:10px; background-image: url(https://images.unsplash.com/photo-1517505894702-df16b1e736aa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d11b4e258a75b349029bb9eedc739e48&auto=format&fit=crop&w=750&q=80);" data-stellar-background-ratio="0.5">
			<div class="overlay" style="border-radius: 10px;"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2>Quais canais você pode acessar?</h2>
						<h4 style="color:white; margin:40px 0 60px 0">Além do site, você pode conversar com o chatbot Tungstênio através do Messenger ou pelo Skype. Basta clicar na opção a seguir</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry" style="border: solid 1px white; padding: 20px 0px; border-radius: 10px; background-color: rgba(126, 126, 126, 0.438)">
								<div>
									<img src="~/images/facebook.svg" width="40%">
								</div>
								<div class="desc" style="margin-top:10px">
									<span class="colorlib-counter-label">Facebook Messenger</span>
								</div>
								<a href="https://www.messenger.com/t/273287846712977">
									<button class="btn btn-block" style="margin-top:10px; color:black">Acesse</button>
								</a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry" style="border: solid 1px white; padding: 20px 0px; border-radius: 10px; background-color: rgba(126, 126, 126, 0.438)">
								<div>
									<img src="~/images/skype.svg" width="40%">
								</div>
								<div class="desc" style="margin-top:10px">
									<span class="colorlib-counter-label">Skype</span>
								</div>
								<a href="https://join.skype.com/bot/f2534585-1b50-4689-b15c-ec275e212127">
									<button class="btn btn-block" style="margin-top:10px; color:black">Acesse</button>
								</a>

							</div>
						</div>
						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry" style="border: solid 1px white; padding: 20px 0px; border-radius: 10px; background-color: rgba(126, 126, 126, 0.438)">
								<div>
									<img src="~/images/roboto.svg" width="40%">
								</div>
								<div class="desc" style="margin-top:10px">
									<span class="colorlib-counter-label">Por aqui mesmo</span>
								</div>
								<a asp-area="" asp-controller="Home" asp-action="Chatbot">
									<button class="btn btn-block" style="margin-top:10px; color:black">Acesse</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="colorlib-services">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2 style="color: #000000">O que o Tungstênio lhe oferece?</h2>
						<p style="font-size:115%">O Tungstênio é um chatbot onde você pode fazer perguntas sobre minerais, mas sua principal funcionalidade é a identificação
							de um deteminado mineral através da descrição das suas caracteristicas</p>

						<p style="font-size:115%; margin-top:30px">A seguir há uma breve explicação de algumas funcionalidades do chatbot</p>
					</div>
				</div>
				<div class="row" style="width:100%">
					<div class="col-md-4 text-center animate-box" >
						<div class="services" style="border: solid 1px rgb(180, 180, 180); padding: 10px 2px; border-radius: 10px; background-color: rgba(233, 233, 233, 0.123)">
							<div>
								<img src="~/images/question.svg" width="25%">
							</div>
							<div class="desc">
								<h3>Perguntas Variadas</h3>
								<p>Você pode perguntar sobre minerais, como por exemplo: "Qual a diferença entre minerais e rochas?" que ele dará a
									resposta que ao seu ver é a mais apropriada</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box" >
						<div class="services" style="border: solid 1px rgb(180, 180, 180); padding: 10px 2px; border-radius: 10px; background-color: rgba(233, 233, 233, 0.123)">
							<div>
								<img src="~/images/information.svg" width="25%">
							</div>
							<div class="desc">
								<h3>Saber Sobre Mineral</h3>
								<p>Ao perguntar sobre algum mineral, por exemplo, "Saber sobre calcita", o Tungstênio lhe trará as informações sobre
									o mineral perguntado</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="services" style="border: solid 1px rgb(180, 180, 180); padding: 10px 2px; border-radius: 10px; background-color: rgba(233, 233, 233, 0.123)">
							<div>
								<img src="~/images/search.svg" width="25%">
							</div>
							<div class="desc">
								<h3>Identificação Mineral</h3>
								<p>Se você tem um mineral e não sabe qual é, basta descrever suas característica que o Tungstênio lhe dirá de qual mineral
									possivelmente você está falando</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer id="colorlib-footer" style="border-radius:10px">
			<br>
			<div class="container">
				<div class="row" style="margin-bottom:15px">
					<div class="col-md-3 colorlib-widget">
						<h4>Informações de Contato</h4>
						Daniel Gonçalves Costa
						<ul class="colorlib-footer-links">
							<li>
								<a href="mailto:daniel-costa@ufu.br">daniel-costa@ufu.br</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 colorlib-widget">
						<h4>Mais Sobre Chatbots</h4>
						<a class="btn btn-secondary" href="https://dev.botframework.com/" > Microsof Bot Framework</a> <br>
						<a class="btn btn-secondary" href="https://azure.microsoft.com/pt-br/services/bot-service/"> Serviço de Bot do Azure</a>
					</div>
				</div>
				<div style="font-size:80%; margin-bottom:15px; padding-right: 15px">Icons feitos por:
					<a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> ,	<a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>, <a href="https://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>, <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		
		<a href="#" class="js-gotop">
			<img src="~/images/arrow.svg" width="55%" style="margin-top:10px">
		</a>
	</div>