﻿@{
    ViewData["Title"] = "Chatbot";
}
<br>
<p id="inicialMessage" class="text-center" style="margin: 3% auto 0% auto; color:#000000">
	Estou ansioso pela nossa conversa, <span style="font-size: 130%; ">me diga um "oi" logo abaixo </span>
</p>
<div id="BotChatGoesHere"></div>