﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="margin: 55px auto; width: 100%;">
                <div style="width: 21%; margin: 0 auto">
                    <img src="~/images/robot.jpg" width="100%">
                </div>

                <h2 class="text-center" style="margin: 3% auto 2% auto; color:#000000">
                    <b>Sou o Tungstênio,</b> O chatbot mineralogista.
                </h2>
                <h4 style="padding:10px 0; color:#696969;" class="text-center">
                    Começe um bate-papo comigo e veja o que posso lhe oferecer.
                </h4>

                <div class="text-center">
                    <a style="background:#17a597; border-color:#17a597" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Chatbot">Começar</a>
                </div>
            </div>

        </div>
    </div>
</div>
